body{
    background: transparent;
}

.navbar-brand {
    font-size: 1.5em;
}

.full-bg-img {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: url("../images/trivia_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.full-bg-img-startGame {
    opacity: 0.6;
}

#questionBox {
   z-index: 10;
    color: antiquewhite;
    font-family: 'Ubuntu', sans-serif;
}

.form-group {
    font-size: 1.2em;

}

.startBtn {
    font-size: 1em;
}

.addRowSpace {
    margin-top: 3%;
}

.guess_page {
    position:fixed;
    top: 50%;
    left: 50%;
    width:70em;
    height:40em;
    margin-top: -20em; 
    margin-left: -35em; 
    border: 1px solid #ccc;
    background-color: #ebe5e5;
    opacity: 0.6;
}

.timeDisplay {
    font-size: 1.5em;
    color:black;
    font-family: 'Roboto', sans-serif;

}

#qDisplay {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;

}

#aDisplay {
    font-size: 1.4em;
    font-family: 'Roboto', sans-serif;

}

.imageClass {
    height: 22em;
    opacity: 1;
    border-radius: 10px;
}